/* about us */

.about-us {
  margin-bottom: -30px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }

  .about-us-title {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .about-us-info {
    color: $second-text-color;
    line-height: 1.7;
  }
}
.about-us-item::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $bgn-gray-color;
  border-radius: 4px;
}

.icon-space::before {
  background-image: url(../images/Groupspace.svg);
}
.icon-clock::before {
  background-image: url(../images/clock.svg);
}
.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}
.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.about-us-item {
  margin-bottom: 30px;

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 4 * 15px) / 2);
    margin-right: 30px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 6 * 15px) / 4);
  }
}
