/* what we do */
.what-we-do-section {
  @media screen and (min-width: 100px) and (max-width: 1199px) {
    display: none;
  }
}
.what-we-do-section .container {
  padding-top: 0;
}

.what-we-do {
  display: flex;

  & .item:not(:last-child) {
    margin-right: 30px;
  }
  & .item {
    position: relative;
  }
}

.what-we-do-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  text-transform: uppercase;
  color: $bgn-white-color;
  background-color: $footer-color-light;
}
